/* CSS for medium screens */

h1:after { content: " (Medium)"; }
/* Arrange a 2-column layout */
#container {
background:orange;
}
section#s1, section#s2 {
float: left;	
width: 40%;

}
section#s2 {
margin-left: 10%;
}
section#s3 {
clear: both;
}