#welcome{
    background-color: black;
}
#welcome p{
    color: #F0F0F0;
}

#about{
    background-color: red;
}
#about p{
    color: #F0F0F0;
}

#projects{
    background-color: orange;
}
#projects p{
    color: #F0F0F0;
}

#services{
    background-color: green;
}
#services p{
    color: #F0F0F0;
}

#contact{
    background-color: indigo;
    color: red;
}
#contact p{
    color: #F0F0F0;
}

body{
    height: 5000px;
}

div{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}