/*************************************************************************
*   File name:      style.css
*   Author:         Jeremy Whiteside (200249654)
*   Website:        Jeremy Whiteside's portfolio (webdesign4.georgianc.on.ca/~200249654/portfolio/)
*   Description:    This is the main style sheet for my portfolio website.  All code
*                   is written by me.  The way it is formatted might be a bit confusing,
*                   but it is the only way I can remember what does what and where things are.
**************************************************************************/

/******************************* HEADER *********************************/
header.top{
   /*
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.2))); 
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    background: -o-linear-gradient(top,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
*/
    background: url("../images/logos/header.png") repeat-x;
    height: 130px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav#scroll{
    display: block;    
    text-align: center;
}

nav#scroll #mainnav li {
    margin-left: 0px;
}
nav#scroll #mainnav a{
    bottom: -60px;
    color: white;
    margin: 0px 10px;
}

ul#mainnav{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}
ul#mainnav a img#logo{
    position: relative;
    top: -70px;
}

ul#dropdown{
    color: white;
    position: fixed;
    top: 40px;
    width: 200px;
}

ul#additionallinks{
    height: 460px;
}
    ul#additionallinks > li > ul{
        background-color: rgba(0, 0, 0, 0.7);
        border-bottom-right-radius: 15px;
        padding: 0px 5px;
    }
        ul#additionallinks > li > ul > li:hover{
            background-color: rgba(0, 0, 0, 0.0);
        }

li button{
    margin-bottom: auto;
    margin-top: auto;
}

/*changing the default styles on button elements*/
button, .button {
    background-color: rgba(0, 0, 0, 0.0);
}
    button:hover, button:focus, .button:hover, .button:focus {
        background-color: rgba(0, 0, 0, 0.0);
    }


li{
    list-style:none;
}

nav ul li a {
	color: #FFFFFF;
	text-decoration: none;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}



nav > ul > li {
	float: left;
	position: relative;
}

nav > ul > li > a {
	position: relative;
	float: left;
}

nav > ul > li:hover > ul {
	display: block;
}

nav > ul > li > ul {
    background-color: rgba(0, 0, 0, 0.5);
	display: none;
    left: -40px;
	position: absolute;
	top: 32px;
}

nav > ul > li > ul > li {

    color: white;
	position: relative;
}

nav > ul > li > ul > li > a {
	display: block;
	padding: 20px 30px;

	width: 100%;
}

nav > ul > li > ul li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Privacy policy and terms of use dropdown menu*/
nav > ul > li > ul > li:hover > ul {
	display: block;
}

nav > ul > li > ul > li > ul {
	background-color: rgba(0, 0, 0, 0.2);
    border-left: dotted rgba(0, 0, 0, 0.2) 2px;
	display: none;
    height: 500px;
    left: 94px;
	position: fixed;
    top: 32px;
    width: 220px;
	
}

nav > ul > li > ul > li > ul > li {
	color: white;
	position: relative;
    top: 50px;
}
    



/******************************* WELCOME PAGE *********************************/
.welcome{
    background-color: black;
    color: #F0F0F0;
    padding-top: 100px;
    position: relative;
    
}
    .welcome footer{
        background: -webkit-linear-gradient(black,  #FE5555); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(black,  #FE5555); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(black,  #FE5555); /* For Firefox 3.6 to 15 */
        background: linear-gradient(black,  #FE5555); /* Standard syntax */
    
    }

div.getconnected{
    height: 200px;
}
div.getconnected ul{
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 0px 0px 10px 10px;
    margin-left: 0px;
    width: 100%;
}
    div.getconnected ul li{
        text-align: center;
    }
        div.getconnected ul li a{
            margin-bottom: 15px;
            margin-top: 15px;
        }

    div.getconnected ul li#calltoaction{
        background: #ff2828; /* Old browsers */
        background: -moz-linear-gradient(45deg, #50E5FF 0%, #ff2828 4%, #50E5FF 8%, #ff2828 12%, #50E5FF 16%, #ff2828 20%, #50E5FF 24%, #ff2828 28%, #50E5FF 32%, #ff2828 36%, #50E5FF 40%, #ff2828 44%, #50E5FF 48%, #ff2828 52%, #50E5FF 56%, #ff2828 60%, #50E5FF 64%, #ff2828 68%, #50E5FF 72%, #ff2828 76%, #50E5FF 80%, #ff2828 84%, #50E5FF 88%, #ff2828 92%, #50E5FF 96%, #ff2828 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#50E5FF), color-stop(4%,#ff2828), color-stop(8%,#50E5FF), color-stop(12%,#ff2828), color-stop(16%,#50E5FF), color-stop(20%,#ff2828), color-stop(24%,#50E5FF), color-stop(28%,#ff2828), color-stop(32%,#50E5FF), color-stop(36%,#ff2828), color-stop(40%,#50E5FF), color-stop(44%,#ff2828), color-stop(48%,#50E5FF), color-stop(52%,#ff2828), color-stop(56%,#50E5FF), color-stop(60%,#ff2828), color-stop(64%,#50E5FF), color-stop(68%,#ff2828), color-stop(72%,#50E5FF), color-stop(76%,#ff2828), color-stop(80%,#50E5FF), color-stop(84%,#ff2828), color-stop(88%,#50E5FF), color-stop(92%,#ff2828), color-stop(96%,#50E5FF), color-stop(100%,#ff2828)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg, #50E5FF 0%,#ff2828 4%,#50E5FF 8%,#ff2828 12%,#50E5FF 16%,#ff2828 20%,#50E5FF 24%,#ff2828 28%,#50E5FF 32%,#ff2828 36%,#50E5FF 40%,#ff2828 44%,#50E5FF 48%,#ff2828 52%,#50E5FF 56%,#ff2828 60%,#50E5FF 64%,#ff2828 68%,#50E5FF 72%,#ff2828 76%,#50E5FF 80%,#ff2828 84%,#50E5FF 88%,#ff2828 92%,#50E5FF 96%,#ff2828 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg, #50E5FF 0%,#ff2828 4%,#50E5FF 8%,#ff2828 12%,#50E5FF 16%,#ff2828 20%,#50E5FF 24%,#ff2828 28%,#50E5FF 32%,#ff2828 36%,#50E5FF 40%,#ff2828 44%,#50E5FF 48%,#ff2828 52%,#50E5FF 56%,#ff2828 60%,#50E5FF 64%,#ff2828 68%,#50E5FF 72%,#ff2828 76%,#50E5FF 80%,#ff2828 84%,#50E5FF 88%,#ff2828 92%,#50E5FF 96%,#ff2828 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg, #50E5FF 0%,#ff2828 4%,#50E5FF 8%,#ff2828 12%,#50E5FF 16%,#ff2828 20%,#50E5FF 24%,#ff2828 28%,#50E5FF 32%,#ff2828 36%,#50E5FF 40%,#ff2828 44%,#50E5FF 48%,#ff2828 52%,#50E5FF 56%,#ff2828 60%,#50E5FF 64%,#ff2828 68%,#50E5FF 72%,#ff2828 76%,#50E5FF 80%,#ff2828 84%,#50E5FF 88%,#ff2828 92%,#50E5FF 96%,#ff2828 100%); /* IE10+ */
        background: linear-gradient(45deg, #50E5FF 0%,#ff2828 4%,#50E5FF 8%,#ff2828 12%,#50E5FF 16%,#ff2828 20%,#50E5FF 24%,#ff2828 28%,#50E5FF 32%,#ff2828 36%,#50E5FF 40%,#ff2828 44%,#50E5FF 48%,#ff2828 52%,#50E5FF 56%,#ff2828 60%,#50E5FF 64%,#ff2828 68%,#50E5FF 72%,#ff2828 76%,#50E5FF 80%,#ff2828 84%,#50E5FF 88%,#ff2828 92%,#50E5FF 96%,#ff2828 100%); /* W3C */
    }
    div.getconnected ul li#calltoaction a{
        font-weight: bolder;
    }
        div.getconnected ul li:hover{
            background-color: rgba(256, 256, 256, 0.2);
        }
div.getconnected h3{
    background-color: rgba(256, 256, 256, 0.2);
    border-radius: 10px 10px 0px 0px;
}
    div.getconnected h3 .underline{
    text-decoration: underline;
    }   


/******************************* ABOUT PAGE *********************************/

li a.active.aboutanchor{
    border-bottom: 2px solid #FE5555;
}

.about{
    background-color: #FE5555;
    color: #F0F0F0;
    padding-top: 15px;
    
}
    .about footer{
        background: -webkit-linear-gradient(#FE5555, #25afff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#FE5555, #25afff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#FE5555, #25afff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#FE5555, #25afff); /* Standard syntax */
    }



/******************************* PROJECTS PAGE *********************************/

li a.active.projectsanchor{
    border-bottom: 2px solid #25afff;
}
.projects{
    background-color: #25afff;
    color: #F0F0F0;
    padding-top: 15px;
}
    .projects footer{
        background: -webkit-linear-gradient(#25afff, #FF944D); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#25afff, #FF944D); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#25afff, #FF944D); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#25afff, #FF944D); /* Standard syntax */
    }

/******************************* SERVICES PAGE *********************************/

li a.active.servicesanchor{
    border-bottom: 2px solid #FF944D;
}
.services{
    background-color: #FF944D;
    color: #F0F0F0;
    padding-top: 15px;
}
    .services footer{
        background: -webkit-linear-gradient(#FF944D, #71CC57); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#FF944D, #71CC57); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient#FF944D, #71CC57); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#FF944D, #71CC57); /* Standard syntax */
    }

/******************************* CONTACT ME PAGE *********************************/

li a.active.contactanchor{
    border-bottom: 2px solid #71CC57;
}
.contact{
    background-color: #71CC57;
    color: #F0F0F0;
    padding-top: 15px;
}
    .contact footer{
        background: -webkit-linear-gradient(#71CC57,  black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#71CC57,  black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#71CC57,  black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#71CC57,  black); /* Standard syntax */
    
    }



/******************************* MAIN FOOTER *********************************/

footer#mainfooter{
    background-color: black;
}
    footer#mainfooter ul{
        margin-bottom: 0px;
        margin-left: 0px;
    }

footer#mainfooter div div{
    color: #D4D4D4;
}
/******************************* GENERAL STYLING *********************************/


h1, h2, h3, h4, h5, h6{
    color: white;
    margin-top: 0px;
    text-align: center;
}
h2{
    font-size: medium;
    font-style: italic;
}

main section header{
    margin-top: 0px;
}

section{
    
    margin-bottom: 0px;
    padding-bottom: 20px;
}
    section header{
        margin: 100px 0px 70px 0px;
    }

img#badge{
    display: block;
    margin-left: auto;
    margin-right:auto;
}

p{
    margin-bottom: 0;
}

small.rightside{
    text-align: right;
}

.centered{
    text-align: center;
}

ul {
    margin-bottom: 0px;
}

.sectionfooter{
    height: 100px;
    position: relative;
    bottom: -20px;

}

.columns{
    z-index: 0;
}

.sectionfooter ul{
    margin-left: auto;
    margin-right: auto;

}
.sectionfooter li{
    list-style-type: none;
    padding-right: 20px;

}

.sectionfooter li a{
    color: white;
    text-decoration: underline;

}*


