section{
    
    margin-bottom: 0px;
    padding-bottom: 20px;
}


h1, h2, h3, h4, h5, h6{
    margin-top: 0px;
    text-align: center;
}

.welcome{
    background-color: black;
    color: #F0F0F0;
    position: relative;
    z-index: 4;
}

.about{
    background-color: #ff7f12;
    color: #F0F0F0;
    padding-top: 131px;
}
    .about footer{
        background: -webkit-linear-gradient(#ff7f12, #25afff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ff7f12, #25afff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ff7f12, #25afff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ff7f12, #25afff); /* Standard syntax */
    }


.projects{
    background-color: #25afff;
    color: #F0F0F0;
    padding-top: 131px;
}
    .projects footer{
        background: -webkit-linear-gradient(#25afff, green); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#25afff, green); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#25afff, green); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#25afff, green); /* Standard syntax */
    }

.services{
    background-color: green;
    color: #F0F0F0;
}
    .services footer{
        background: -webkit-linear-gradient(green, indigo); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(green, indigo); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradientgreen, indigo); /* For Firefox 3.6 to 15 */
        background: linear-gradient(green, indigo); /* Standard syntax */
    }

.contact{
    background-color: indigo;
    color: #F0F0F0;
}

body{
    height: 5000px;
}

.top{
   
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.2))); 
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)); 
    background: -o-linear-gradient(top,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));

    position: fixed;
    width: 100%;
    z-index: 3;
}

main section header{
    margin-top: 0px;
}

header #behindlogo{
    
}

section header{
    margin: 100px 0px 70px 0px;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#badge{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
nav#scroll{
    
    height: 30px;
    text-align: center;
}

#scroll a{
    color: white;
    margin: 0px 10px;
}



p{
    margin-bottom: 0;
}

small.rightside{
    text-align: right;
}

.centered{
    text-align: center;
}

ul {
    margin-bottom: 0px;
}

.sectionfooter{
    border-top: 2px dotted #666;
    height: 100px;
    position: relative;
    bottom: -20px;
}

#mainnav{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

.columns{
    z-index: 0;
}

li .active{
    border-bottom: 2px solid white;
    font-weight: bolder;
}

/*.sectionfooter li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.sectionfooter li a{
    color: white;
    text-decoration: underline;
}*/

li{
    list-style:none;
}

nav ul li a {
	color: #00b22d;
	text-decoration: none;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

nav ul li a:hover {

}


nav > ul > li > ul li {

}

nav > ul > li > ul li:hover {

}


nav > ul > li {
	float: left;
	position: relative;
}

nav > ul > li > a {
	position: relative;
	float: left;
}

nav > ul > li:hover {

}

nav > ul > li:hover > ul {
	display: block;
}

nav > ul > li > ul {
    background-color: rgba(0, 0, 0, 0.2);
	display: none;
    left: -40px;
	position: absolute;
	top: 32px;

}

nav > ul > li > ul > li {
    color: white;
	position: relative;
}

nav > ul > li > ul > li > a {
	display: block;
	padding: 20px 30px;

	width: 125px;
}

/* STICKY HEADERS CSS

 .followWrap{
    background-color: cyan;
}

.followMeBar{
	padding: 1%;
    color: white;
    min-height: 132px;
	position: relative;
	z-index: 2;
}
.followMeBar.fixed{
    min-height: 132px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.followMeBar.fixed.absolute{
	position: absolute;
}*/